<html>
  <body>
    <h1>Enter New Messages Here</h1>
    <form method="POST" action="/new">
        <input name="messageText" placeholder="message"/>
        <input name="authorName" placeholder="name"/>
        <button type="submit">Submit</button>
     </form>
  </body>
</html>
